<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .container{
            border: 1px solid red;
            position: relative;
            top: 150px;
            background-color: beige;
            padding: 10px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand" href="#">SAS College</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link " href="{% url 'adco' %}">Add-Course</a>
            <a class="nav-item nav-link " href="{% url 'adst' %}">Add-Student></a>
            <a class="nav-item nav-link active" href="{% url 'showstud' %}">Show-Student<span class="sr-only">(current)</span</a>
            <a class="nav-item nav-link " href="{% url 'shte' %}">Show-Teachers</a>
            <button class="btn my-2 my-sm-0" type="submit"><a href="{% url 'logout' %}">Logout</a></button>
          </div>
        </div>
      </nav>
      <center>
        <h2>Edit Student Details</h2>
        <div class="container">
        <form action="{% url 'editstud' es.id %}" method="post">
          {% csrf_token %}
            <input type="text" value="{{es.Student_Name}}" name="stna"><br><br>
            <input type="textarea" value="{{es.Student_Address}}" name="stad"><br><br>
            <input type="number" value="{{es.Age}}" name="stag"><br><br>
            <input type="date" value="{{es.Joining_Date | date:'Y-m-d'}}" name="stda"><br><br>
            <select name="se">
              {% for c in ec %}
              {% if c.id == es.course.id %}
                <option value="{{c.id}}" selected>{{c.course_Name}}</option>
                {% else %}
                <option value="{{c.id}}" >{{c.course_Name}}</option>
                {% endif %}
                {% endfor %}
            </select><br><br>
            <button type="submit">Update</button>
        </form>
    </div>
      </center>
</body>
</html>